.backdrop {
  position: absolute;
  background: rgba(0, 0, 0, 0.01);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.wrapperMenu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 16px;
  right: 16px;
  height: calc(100% - 75px);
  width: calc(100% - 72px);
  max-width: 550px;
  padding: 20px;
  background: var(--brand-mid2);
  border-radius: 16px;
  overflow: hidden;
  z-index: 10;
}

.wrapperMenu p {
  font-weight: bold;
  color: var(--brand-dark);
}

.wrapperMenu .close {
  background: var(--brand-mid);
  color: var(--brand-dark);
  font-size: 25px;
  padding: 0 0 2px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 0 0 0 20px;
  cursor: pointer;
  transition: all ease 0.6s;
}

.wrapperMenu .close:hover,
.wrapperMenu .close:focus {
  color: var(--brand-mid);
  background: var(--brand-dark);
}

.wrapperMenu .logout {
  color: var(--brand-mid);
  background: var(--brand-dark);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1.8rem;
  width: 100px;
  height: 50px;
  border-radius: 40px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.wrapperMenu .logout:hover {
  transform: scale(1.05);
}

.wrapperMenu .no-notes {
  margin-bottom: 90px;
}
