.topnav {
  height: 88px;
  width: calc(100% - 2.8em);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.4em;
}
.map {
  /* background: grey; */
  width: calc(100% - 16px);
  height: calc(100vh - 96px);
  margin: 0 8px;
  border-radius: 22px;
  transition: all ease 0.4s;
  transform: translateY(0px);
}

#mapped {
  margin: 0 8px;
  transform: translateY(-50px);
}

.moveUp {
  transform: translateY(-80px);
}

.notes {
  background: #f8feb4;
  border: 0.5px solid hsl(65, 50%, 60%);
  padding: 0.8em 1.2em;
  border-radius: 30px;
  user-select: none;
  pointer-events: none;
}
