input {
  border-radius: 22px;
  border: none;
  height: 60px;
  width: 60%;
  max-width: 400px;
  padding: 0 1.5em;
  color: var(--type);
  display: flex;
  align-items: center;
  font-weight: bold;
  background: var(--lightgrey);
  margin-bottom: 8px;
  outline: 2px solid transparent;
}

input:focus {
  outline: 2px solid var(--brand);
  transition: all ease 0.4s;
}
