@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

:root {
  --brand: hsl(169, 90%, 82%);
  --brand-hover: hsl(169, 90%, 72%);
  --brand-mid: hsl(169, 20%, 82%);
  --brand-dark: hsl(169, 90%, 12%);
  --lightgrey: hsl(0, 0%, 96%);
  --background: hsl(0, 0%, 99%);
  --type: hsl(0, 0%, 70%);
  --type2: hsl(0, 0%, 40%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  border-radius: 22px;
  border: none;
  height: 60px;
  width: calc(100% - 3em);
  color: var(--type);
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  font-weight: bold;
  background: var(--lightgrey);
  margin-bottom: 8px;
  outline: 2px solid transparent;
}

input::placeholder {
  opacity: 1;
  transition: all ease 0.3s;
}

input:focus::placeholder {
  opacity: 0;
  transform: translateY(20px);
}

input:focus {
  outline: 2px solid var(--brand);
  transition: all ease 0.4s;
}
